# Target dirs in all projects
**/target/*

# Added for Intellij IDEA IDE
**/.idea/*
*.iml
**/*.iml
/.idea/

# Used to not upload Blackduck Scans
**/appc_bdio.jsonld
**/blackDuckHubProjectName.txt
**/blackDuckHubProjectVersionName.txt

# Generated models and features
**/bin/*

# Checkstyle files
**/.checkstyle

# MANIFEST.MF is updated on every clean install
**/src/main/resources/META-INF/

# Karaf Assembly
#/appc-adapters/appc-*-adapter/appc-*-adapter-installer/src/assembly/*

# Used to not upload any maven dependency graph outputs
**/deptree.text

.project

*.prefs
.classpath
**/.classpath
/target/
logs/
debug-logs/
/.settings/
**/*.iml
/.idea/
/bin/
